@tailwind base;
@tailwind components;
@tailwind utilities;

//variáveis
$bgHtml: #EEEEEE;
$header: #222831;
$btnEnviarColor: purple;
$bgContactForm: #00ADB5;
$inputColor:#D9D9D9;
$github:#a5a5a5;

//globais que aparecem uma só vez ou em todas as telas
body{
    background-color: $bgHtml;
}

header{
    background-color: $header;
    display: flex;
    color: white;
    justify-content: space-around;
    height: 3.5rem;
    align-items: center;
}

footer{
    background-color: $header;
    position: relative;
    width: 100%;
    bottom: 0;
    margin: 0px;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

//estilo para coisas específicas 
.active{
  border-bottom: 2px solid white;
}

.btnEnviar{
    margin-top: 1.25rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: $btnEnviarColor;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
}

.card{
    gap: 50px;
    display: flex;
    align-items: center;
}

.cardImage{
    width: 10%;
}

.formContainer{
    border-radius: 0.25rem;
    background-color: $bgContactForm;
}

.contactForm{
    margin-top: 2%;
    gap: 30px;
}

.containerHeader{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.containerFooter{
    width: 100%;
}

.containerSobre{
    margin: 20px;
}

.nav{
    gap: 2rem;
    display: none;
}

.divFooter{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright{
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: white;
}

.github{
    color: $github;
    
}

.btnNav{
    transition-duration: 300ms;
}

.btnNav:hover{
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.menuBar{
    width: 100%;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.75rem;
}

.linksMenu{
    transition-duration: 300ms;
    margin-top: 0.75rem;
    display: flex;
    gap: 0.5rem;
}

.linksMenu:hover{
    text-decoration-line: underline;
    --tw-scale-x: 1.07;
    --tw-scale-y: 1.07;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.titulos{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.txt{
    margin-top: 20px;
    font-size: 20px;
}

.textLabel{
    color: black;
    background-color: $inputColor;
    border-radius: 3px;
}

.searchInfo{
    margin: 20px;
    border-radius: 5px;
    width: 50%;
    height: 40px;
}

.carrossel{
    width: 100%;
}

@media (min-width: 768px) {
    .nav {
        display: flex;
    }
    .btnNav{
        display: none;
    }
    .menuBar{
        display: none;
    }
    .container{
        width: 50%;
    }
    .searchInfo{
        width: 20%;
    }
}



